@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

body{
    overflow: hidden;
}
.logo{
    font-family: 'Uncial Antiqua', cursive;
    color: #9FC9F3;
    margin-right: 30px;
    font-size: 2.2rem;
    letter-spacing: 2px;
}

.tac{
    color: #A460ED;
    font-family: 'Uncial Antiqua', cursive;
}

ul{
    display: flex;
    width: 60vh;
    justify-content: space-around;
}

.nav-container{
    margin-left: 40%;
}

li{
    
    list-style-type: none;
    padding: 5px;
    margin-top: 3%;
    margin-left: 3%;
    
}

.navlinks{
    margin-left: 20%;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #4383FF;
    cursor: pointer;
    
    
}

.home{
    background-image:url(../../assets/gg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-top: 10vh;
    margin-left: -30%;
}

.hero{
    width: 100vw;
}

.main-header{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 82px;
    line-height: 112px;
    color: #FF389A;
    padding: 10px;
    margin-top: 7%;
}

.hero-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #45494E;
    margin-left: 7%;
}

.startbtn{
    position: relative;
    width: 151px;
    height: 48px;
    background: linear-gradient(79.75deg, #4E98EF 10.79%, #D381FA 95.14%);
    border-radius: 14px;
    font: normal 500 17px 'Roboto';
    line-height: 19px;
    border: 1px solid #4E98EF;
    color: white;
    margin:  20% 0 0 -39%;
    cursor: pointer;
}

.vector{
    position: absolute;
    width: 171.71px;
    height: 111.32px;
    left: 842.6px;
    bottom: 439.49px;
}
.vector2{
    position: absolute;
    width: 290.57px;
    height: 70.71px;
    left: 840.86px;
    top: 800.5px;
}
.group{
    position: absolute;
    width: 417.91px;
    height: 525px;
    left: 810.26px;
    top: 276.5px;   

}
.vector1{
    position: absolute;
    width: 77.11px;
    height: 74.5px;
    left: 728.26px;
    top: 480.5px;
}