.Learn{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 45%;
    height: 100vh;
    top: 3%;
    font: 'Poppins';

}
.Learn p, .Learn h3{
    position: relative;
    left: 5%;
}

.Current{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 2%;
    left: 5%;
    height: 50%;
    width: 100%;
    color: white;
    background-color: #2F3CED;
    border: none;
    border-radius: 30px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 
                0 10px 0 -5px rgb(222, 248, 248), 
                0 10px 1px -4px rgba(0, 0, 0, 0.15), 
                0 20px 0 -10px #AFD5FF, 0 20px 1px -9px rgba(0, 0, 0, 0.15);


}
.Course{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Poppins';
    width: 32%;

}
.Course button{
    background-color: black;
    padding: 7px 0px;
    color: white;
    width: 70%;
    border-radius: 10px;

}

.Path-Box{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 32%;
    background-color: #F5FBFF;
    /* justify-content: space-around; */
    /* align-items: center; */
    width: 100%;
    margin-top: 2rem;
    padding-right: 4rem;
}

.header-title{
    margin-left: 5%;
}
.box-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 63%;
    width: 100%;
    padding-left: 30px;
    margin-top: 1rem;
}

.Box{
    background-color: white;
    height: 100%;
    padding: 10px 5px;
    display: flex;
    /* align-items: flex-start; */
    border-radius: 15px;
    flex-direction: column;
    width: 25%;
}
.Box h5{
    margin: 0 0 .5rem.5rem;
}
.Box div{
    margin-top: 1.3rem;
}
.Box p{
    font-size: small;
    width: 60%;
}
.Box img{
    width: 30%;
}
