.Nav{
    position: relative;
    width: 16%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F5FBFF;
    
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 'Poppins';
    border-right: .1px solid rgb(0, 0, 0, 0.1);
}
.Nav h2{
    position: relative;
    left: 10%;
    margin: 2rem 0;
    color: black;
}
.Navlist{
    display: flex;
    position: relative;
    flex-direction: row;
    width:100%;
    left: 10%;
    margin: .6rem 0;
    color: black;

}
.Nav .Navlist :hover{
    background-color: #2F3CED;
}

.Navlist .Icon{
    margin-top: 4px;
}
.Nav a{
    text-decoration: none;
    color: black;
    font-size: large;
    padding: 0 15%;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    cursor: pointer;

    /* margin-left: 10%; */
}
.Nav .user{
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 5%;
    left: 10%;
}
.Nav .user img{
    margin-right: 1rem;
}